.container
  .row.justify-content-center
    .col-md-7
      = form_with(model: @profile, local: true ) do |form|
        - if @profile.errors.any?
          #error_explanation
            %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
            %ul
              - @profile.errors.full_messages.each do |message|
                %li= message
        .card.mt-5.shadow.mb-5.border.rounded
          .card-title
            %h1.center Perfil de Usuario
            %hr
          .row.form-group
            .col-sm-5.col-form-label
              .right= form.label :full_name, 'Nombre y apellido'
              = form.text_field :full_name, class: 'form-control'
          .row.form-group
            .col-sm-5.col-form-label
              .right= form.label :role, 'Ocupación o rol'
              = form.text_field :role, class: 'form-control'
          .row.form-group
            .col-sm-5.col-form-label
              .right= form.label :biography, 'Biografía:'
              = form.trix_editor :biography, class: 'form-control'
          .row.form-group
            .col-sm-5.col-form-label
              .right= form.label :coffee_price, 'Monto de un Café:'
              = form.text_field :coffee_price, class: 'form-control'
          .row.form-group
            .col-sm-5.col-form-label
              .right= form.label :currency, 'Símbolo de la moneda'
              = form.text_field :currency, class: 'form-control'
          .row.form-group
            .col-sm-2.col-form-label
              .right= form.label :multiplier, 'Multiplicador'
          .row.form-group
            .col-sm-2
              .multiplier= form.text_field :multiplier, class: 'form-control'
            .col-sm-2
              .multiplier= form.text_field :multiplier, class: 'form-control'
            .col-sm-2
              .multiplier= form.text_field :multiplier, class: 'form-control'
            .col-sm-2
              .multiplier= form.text_field :multiplier, class: 'form-control'
          .row.form-group
            .col-sm-5.col-form-label
              .right= form.label :avatar, 'Foto de Perfil:'
              = form.file_field :avatar
          .row.form-group.justify-content-center
            .col-sm-6
              .actions
                .right= form.submit 'Guardar', class: 'btn btn-primary shadow'
            .col-sm-6
              = link_to 'Cancelar', root_path, class: 'btn btn-primary shadow'
