
.col-12.mobile
  .row.mobileheader.fixed-top
    .col-2.offset-1.mobileheaderlogo
      %form{:action => "/", :method => "get", :class => "mobileheaderlogoform"}
        %button{:type => "submit", :class => "logobutton btn mt-2 mb-2 btn-lg"} A&C
    .col-2.offset-6.mobileheaderlogin
      %form{:action => "/users/sign_in", :method => "get", :class => "mobileheaderloginform"}
        %button{:type => "submit", :class => "mixedbutton btn btn-lg mt-2 mb-2"} Login
  .row.mobileform.mt-5
    .col-10.offset-1.mobileformtitle
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .card.mt-5.shadow.mb-5.border.border-info
          .card-title
            %h2.text-center.mt-2.font-happy Crear mi Perfil
            = render 'shared/alert' if (devise_error_messages!)

            .row.form-group.justify-content-center
              .col-sm-5.col-form-label
                .font-roboto= f.label :email
                .text-right= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
                #msgemail

            .row.form-group.justify-content-center
              .col-sm-5.col-form-label
                .font-roboto= f.label :password
                -# - if @minimum_password_length
                -#   %em
                -#     ="(#{@minimum_password_length} characters minimum)"
                .text-right= f.password_field :password, class: 'form-control', autocomplete: "new-password"
            .row.form-group.justify-content-center
              .col-sm-5.col-form-label
                .font-roboto= f.label :password_confirmation
                = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
            .row.form-group
              .col
                .actions
                  .text-center.font-roboto= f.submit "Registrarse", class: 'createprofilebutton'








-#       .row
-#         .col
-#           = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#             .card.mt-5.shadow.mb-5.border.border-info
-#               .card-title
-#                 %h2.text-center.mt-2.font-happy Crear mi Perfil
-#                 = render 'shared/alert' if (devise_error_messages!)

-#                 .row.form-group.justify-content-center
-#                   .col-sm-5.col-form-label
-#                     .font-roboto= f.label :email
-#                     .text-right= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
-#                     #msgemail


-#                 .row.form-group.justify-content-center
-#                   .col-sm-5.col-form-label
-#                     .font-roboto= f.label :password
-#                     -# - if @minimum_password_length
-#                     -#   %em
-#                     -#     ="(#{@minimum_password_length} characters minimum)"
-#                     .text-right= f.password_field :password, class: 'form-control', autocomplete: "new-password"
-#                 .row.form-group.justify-content-center
-#                   .col-sm-5.col-form-label
-#                     .font-roboto= f.label :password_confirmation
-#                     = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
-#                 .row.form-group
-#                   .col
-#                     .actions
-#                       .text-center.font-roboto= f.submit "Registrarse", class: 'createprofilebutton'
