.row
  .col-2.sidebar
    .row.sidebarheader
      .col-12.text-center
        %a{ :href => "#", class: "logolink"}
          A&C
    .row.sidebarmenu
      %ul
        %li.sidebarmenuli
          %a{ :href => "#", class: "sidebarmenulink"}
            = image_tag ('perfil.svg')
            Perfil
        %li.sidebarmenuli
          %a{ :href => "#", class: "sidebarmenulink"}
            = image_tag ('perfil.svg')
            Imagenes
        %li.sidebarmenuli
          %a{ :href => "#", class: "sidebarmenulink"}
            = image_tag ('cuentas.svg')
            Cuentas


  .col-10.section
    .row.sectionnavbar.navbar.navbar-expand-lg
      .col-10.inputrectangle
        %form
          %input{:type => "text", :class => "navbarinput"}
      .col-2.profilerectangle
        .row
          .col-3.profilepicture
            = image_tag ('profile_avatar.svg'), class: 'profileimage'
          .col-9.profilefullname
            Romer Ramos


