
.col-12.mobile
  .row.mobileheader.fixed-top
    .col-2.offset-1.mobileheaderlogo
      %form{:action => "#", :method => "get", :class => "mobileheaderlogoform"}
        %button{:type => "submit", :class => "logobutton btn mt-2 mb-2 btn-lg"} A&C

    -# Este es el que va cuando el usuario esta logeado... Falta añadirle el nombre y apellido de su perfil. 
    .col-2.offset-6.mobileheaderlogin
      %nav.navbar.navbar-expand-lg.navbar-light.mt-2
        .navbardiv.collapse.navbar-collapse#navbarSupportedContent
          %ul.navbar-nav.mr-auto
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Romer Ramos
              .dropdown-menu{"aria-labelledby" => "navbarDropdown", :id => "prueba3"}
                %a.dropdown-item{:href => "#", :id => "prueba2"} Editar perfil
                .dropdown-divider
                %a.dropdown-item{:href => "#", :id => "prueba2"} Cerrar sesión
                




    -# Este es el que va cuando el usuario no esta logeado
    -# .col-2.offset-6.mobileheaderlogin
      -# %form{:action => "/users/sign_in", :method => "get", :class => "mobileheaderloginform"}
      -#   %button{:type => "submit", :class => "mixedbutton btn btn-lg mt-2 mb-2"} Login



        
  .row.mobilehero.mt-5
    .col-12.coffees
      = image_tag "coffees.svg" 
    .col-10.offset-1.strongtext.mt-3
      Un café es un abrazo atrapado en una taza
    .col-8.offset-2.mt-5.regulartext
      Recibe aprecio y gratitud mediante donaciones online
    .col-4.offset-4.mobileheroformsection.mt-5.mb-5
      %form{:action => "/users/sign_up", :method => "get", :class => "mobileheroform"}
        %button{:type => "submit", :class => "mobileheroformbutton btn btn-lg col-8 offset-2"} Crear mi perfil
  .row.mt-5.mb-5
    .col-12.showcase
      .col-10.offset-1.showcasetitlesection.mb-5.mt-5
        .showcasetitlesectiontext.mb-5
          Un perfil dedicado a recibir agradecimientos
      .col-10.offset-1.showcasecontent.mb-5
        Puedes crear una página en minutos sin conocimientos técnicos. Muestra tus datos y agradecimientos recibidos de otras personas.
      .col-10.offset-1.showcasecellphones.mb-5
        .cellphone1
          = image_tag ('blue_profile.svg'), :class => "img-fluid"
        .cellphone2
          = image_tag ('green_profile.svg')
        .cellphone3
          = image_tag ('pink_profile.svg')

