

.col-12.mobile
  .row.mobileheader.fixed-top
    .col-2.offset-1.mobileheaderlogo
      %form{:action => "/", :method => "get", :class => "mobileheaderlogoform"}
        %button{:type => "submit", :class => "logobutton btn mt-2 mb-2 btn-lg"} A&C
    .col-2.offset-6.mobileheaderlogin
      %form{:action => "/users/sign_up", :method => "get", :class => "mobileheaderloginform"}
        %button{:type => "submit", :class => "mixedbutton btn btn-lg mt-2 mb-2"} Registrarse
  .row.mobileform.mt-5
    .col-10.offset-1.mobileformtitle
      .row
        .col
          = form_for(resource, as: resource_name, url: session_path(resource_name), name: 'formulario') do |f|
            .card.mt-5.shadow.mb-5.border.border-info
              .card-title
                %h2.text-center.mt-2.font-happy Iniciar Sesión
                = render 'shared/alert' if (devise_error_messages!)
              .row.form-group.justify-content-center
                .col-sm-5.col-form-label
                  .font-roboto= f.label :email, 'Email:'
                  = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
                  #msgemail
              .row.form-group.justify-content-center
                .col-sm-5.col-form-label
                  .font-roboto= f.label :password, 'Password:'
                  = f.password_field :password, class: 'form-control', autocomplete: "current-password"
              .row.form-group
                .col
                  .actions
                    .text-center.font-roboto= f.submit "Iniciar sesión", class: 'createprofilebutton'





                    
              -# .row.form-group
              -#   .col
              -#     .text-center= render "devise/shared/links"
