.sidebar {
  background: #F4F6F8;
  border-right: 1px solid #DFE4E8;
}

.section {
  background: #F4F6F8;
}

.sidebarheader {
background: #EE4380;
height: 8.35820895522388vh;
text-align: center;
}

.logolink {
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.9215987701767872vw;
  color: #FFFFFF;
}

.sidebarmenu {

}

.sidebarmenuli {
list-style: none;
margin-top: 2.985074626865672vh;
}

.sidebarmenulink
{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1.1145272867025364vw;
  letter-spacing: -0.01em;
  color: #212B35;
}


.sectionnavbar {

background: #EA5F91;
height: 8.35820895522388vh;
}

.inputrectangle {
}

.profilerectangle {
}

.navbarinput {
  background-color: #F67DA8;
  border-radius: 5px;
  border: none;
  width: 59.72328977709454vw;
}

.profilefullname {
  margin-top: 1.270149253731343vh;
  font-family: Segoe UI;
  line-height: normal;
  font-size: 1vw;
  color: #FFFFFF;
}

