  body {
    position: absolute;
    width: 100%;
    height: 100%;
   }

.mobile {
  background: #F9FBFD;
  position: relative;
}

.mobileheader {
  z-index: 4;
  background: #FFFFFF;
  box-shadow: 0 10px 2px -2px #E5E5E5;
  border: none;
}

.mobileheaderlogo {
}

.mobileheaderlogin {
}

.mobileheaderlogoform {
  height: 100%;
  width: 100%;
}

.mobileheaderloginform {
  height: 100%;
}

.logobutton {
  color: white;
  border-bottom: 5px solid #EF6898;
  background-color: #EE4380;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10.2317167051578137vw;
}

.mixedbutton {
  color: black;
  background: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10.2317167051578137vw;
}

.mobilehero {
  position: relative;
}

.coffees {
  text-align: center;
}

.strongtext {
  text-align: center;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 6.001539645881447vw;
  text-align: center;
  color: #363636;
}

.regulartext {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #8F8F8F;
  font-size: 5.001539645881447vw;
}

.mobileheroformsection {
}

.mobileheroform {
width: 100%;

}

.mobileheroformbutton {
  color: white;
  background-color: #EE4380;

  border: none;
}

.showcase {
  background: #EE4380;
}

.showcasetitlesection {
  
  border-bottom: 10px solid #FFFFFF;

}

.showcasetitlesectiontext {
  color: white;
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 6.5601539645881447vw;
}

.showcasecontent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
  font-size: 5.501539645881447vw;
  color: #FFFFFF;
}


.showcasecellphones {
  position: absolute;
  border: 10px solid green;
}

.cellphone1 {

  }

.cellphone2 {


  }
.cellphone3 {

  }

  #navbarDropdown {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
  }


  #prueba3 {
    background-color: #EE4380;
  }

  #prueba2:hover {
    background-color: #EE4380;
}

  #prueba2 {
    color: white;
  }